<!DOCTYPE html>
<html>
  <head>
    <title>Mark careers</title>
    <link rel="short cut icon" href="{{url_for('static', filename='favicon.png')}}">
    {% include 'bootstrap.html' %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
  </head>
  <body bg-nav>
    {%include 'nav.html' %}
    {%include 'banner.html'%}
    <div class="container">
			<h1 class="text-center mt-3 mb-4">MARK CAREERS</h1>

      <p class="fs-4">Your application for the job role of <b>"{{job['title']}}"</b> at MARK CAREERS has been successfully submitted!<br><br>Results for the <b>status'</b> of job applications are released within two weeks after an application is made.<br>To <a href="/status_form"<b>check the status</b></a> of your application, make sure to include the <b>first name</b>, <b>last name</b> and <b>email</b> used during application.<br><br></p>
      <b class="fs-4">First name</b>
      <div class="mb-2 fs-4">{{ application['firstname'] }}</div>

      <b class="fs-4">Last name</b>
      <div class="mb-2 fs-4">{{ application['lastname'] }}</div>
  
      <b class="fs-4">Email</b>
      <div class="mb-2 fs-4">{{ application['email'] }}</div>
  
      {%include 'footer.html'%}
  </body>
</html>
