<h4 class="text-center mt-5 mb-3">Application Form</h4>
  <form action="/job/{{job['job_id']}}/apply" method="post">
    <div class="row">
      <div class="col">
        <label for="inputfirstname" class="form-label"><b>First name:</b></label>
        <input type="text" class="form-control" name="firstname" id="inputfirstname" placeholder="First name" aria-label="First name">
      </div>
      <div class="col">
        <label for="inputlastname" class="form-label"><b>Last name:</b></label>
        <input type="text" class="form-control" name="lastname" id="inputlastname" placeholder="Last name" aria-label="Last name">
      </div>
    </div>
    <div class="mb-3 mt-3">
      <label for="exampleFormControlInput1" class="form-label"><b>Email address:</b></label>
      <input type="email" class="form-control" name="email" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="basic-url" class="form-label"><b>Your linkedin URL:</b></label>
      <div class="input-group">
        <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
        <input type="text" class="form-control" name="linkedin_url" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"><b>Education:</b></label>
      <textarea class="form-control" name="education" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"><b>Work Experience:</b></label>
      <textarea class="form-control" name="work_experience" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="mb-3">
      <label for="basic-url" class="form-label"><b>Your Resume URL:</b></label>
      <div class="input-group">
        <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
        <input type="text" class="form-control" name="resume_url" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
      </div>
    </div>
    <div class="d-grid d-md-flex justify-content-md-center">
      <button class="btn btn-primary me-md-2" type="submit">submit</button>
    </div>  
  </form>
