<!DOCTYPE html>
<html>
	<head>
	 <title>Mark Careers</title>
   <link rel="short cut icon" href="{{url_for('static', filename='favicon.png')}}">
    <meta charset="utf-8">
    {% include 'bootstrap.html' %}
    
	</head>
	<body>
    {%include 'nav.html' %}
    {%include 'banner.html' %}
    <div class="container">
			<h1 class="text-center mt-3 mb-4">MARK CAREERS</h1>
      <div class="row">
        <div class="col-md-6">
          <h4 style="color: black;">
            At <span style="color: grey;">Mark careers</span>, our mission is very simple:<br>
            To connect the world's professionals to careers of their choice hence making them more productive and successful.<br>
            This is the place you meet your fate and luck.<br> Good luck!!
          </h4>
        </div>
        <div class="d-none d-md-block col-md-6">
        <img src="https://markcareerswebsitev3.markndungu.repl.co/static/peopleworking.jpg" style="height:280px;margin-bottom:16px;border-radius:4px;">
        </div>
      </div>
			<h3 class="text-center mt-4 mb-3">Open positions</h3>
			<div>
        {%for job in jobs%}
          {%include'jobitem.html'%}
        {%endfor%}
      </div>
       
      <div class="text-center">
		  <a href="/status_form" class="btn btn-success btn-lg">check status</a>
      </div>
      {%include 'footer.html'%}
    </div>
	</body>
</html>
