<div class="container">
  <div class="card mt-80">
    <div class="card-body">
      <form action="/register_form/register" method="post">
        <img class="mb-4" src="https://markcareerswebsitev3.markndungu.repl.co/static/mark_careers.jpeg" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Register here</h1>
        
        <div class="form-floating">
          <input type="text" class="form-control" name="name" id="floatingInput" placeholder="name" required>
          <label for="floatingInput">Enter user name:</label>
        </div>

        <div class="form-floating">
          <input type="email" class="form-control" name="email" id="floatingInput" placeholder="name@example.com" required>
          <label for="floatingInput">Enter email address:</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password" required>
          <label for="floatingPassword">Enter password:</label>
        <button class="btn btn-primary w-100 py-2" type="submit">Register</button>
        <p class="mt-3 mb-2 text-body-secondary">Already have an account?<a href="/">sign in</a></p>
        
      </form>
    </div>
  </div>
  
</div>